@media screen and (max-width: 600px) {

    .description {
        font-size: 14px;
    }

    .title {
        font-size: 20px;
    }


    .nav-container {
        /* border: 2px solid navy; */
        flex-direction: column;
        max-width: 335px;
        height: 75px;
        margin: 0 auto;

    }

    .nav-title {
        width: 100%;
        gap: 8px;
    }

    .nav-title>img {
        width: 28px;
        height: 33px;
    }

    .nav-title>h5 {
        font-size: 21px;
    }

    .nav-menu {
        width: 100%;
    }

    .nav-menu a {
        font-size: 9px;
    }

    /* banner  */
    .banner-container {
        max-width: 335px;
        height: 483px;
        margin: 0 auto;
    }

    .banner-title {
        margin: 0 auto;
        padding-top: 32px;
        font-size: 22px;
    }

    .banner-description {
        max-width: 304px;
        margin: 8px auto;
        font-size: 14px;
        line-height: 21px;
    }

    .banner-input {
        margin: 24px auto;
        flex-direction: column;
        padding: 16px;
        gap: 8px;
    }

    .banner-input input {
        width: 250px;
        height: 52px;
    }

    .banner-input select {
        width: 265px;
        height: 52px;
    }

    .banner-input .btn-banner {
        width: 265px;
        height: 52px;
    }

    /* banner styles ends  */
    /* popular tour  */

    .popular-tour {
        max-width: 335px;
        margin: 24px auto;
        flex-direction: column;
    }

    .tour-content {
        width: 100%;
        height: 450px;
    }


    .tour-btn {
        padding: 14px 35px;
        width: 174px;
        height: 52px;
        margin-top: 8px;
    }

    .tour-img {
        margin-top: 24px;
        width: 100%;
        height: 342px;
    }

    .tour-img img {
        width: 100%;
        height: 342px;
    }

    /* tour style ends  */
    /* destination styles start  */

    .destination-container {
        max-width: 335px;
        margin: 0px auto;
    }

    /* img1  */
    .destination-img1 {
        width: 100%;
        margin-top: 24px;
        flex-direction: column;
        gap: 3%;
    }

    #img1,
    #img2 {
        width: 100%;
        height: 176px;

    }




    /* img2  */
    .destination-img2 {
        width: 100%;
        margin-top: 24px;
        flex-direction: column;
        gap: 3%;
    }

    #img3,
    #img4,
    #img5 {
        width: 100%;
        height: 176px;

    }

    /* img3  */
    .destination-img3 {
        width: 100%;
        margin-top: 24px;
        flex-direction: column;
        gap: 3%;
    }

    #img6,
    #img7 {
        width: 100%;
        height: 176px;
    }

    /* destination style ends  */
    /* choose us style  */

.choose-container {
    max-width: 335px;
    margin: 24px auto;
}

.choose-card-combined {
flex-direction: column;
width: 100%;
    gap: 12px;
}

.choose-card1 {
    margin-top: 24px;
    width: 80%;
}

.choose-card2 {
    width: 80%;
    border-radius: 16px;
}

.choose-card3 {

    width: 80%;
}
/* choose styles ends  */
.place-container {
max-width: 335px;
    margin: 40px auto;
flex-direction: column;
    gap: 14px;
}
.place-content{
width: 100%;
height: 200px;
}

.place-content>ul li {
    margin-top: 12px;
    margin-bottom: 16px;
    font-size: 14px;

}
.place-img img{
    margin-top: 40px;
width: 100%;
height: 200px;
}
 /* MY CAPTURE:beauty of village section */
 .myCapture-container{
    max-width: 335px;
    margin: 0 auto;
}
.myCapture-img{
    margin-top: 48px;
    margin-bottom: 48px;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}

/* newsletter style  */
.newsletter-container {
    max-width: 335px;
    margin: 0px auto;

 flex-direction: column;
    gap: 16px;
}

.newsletter-content {
width: 100%;
    padding: 40px;
}

.newsletter-content hr {
    margin-top: 16px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}


.newsletter-content input {
    margin-top: 16px;
    gap: 16px;
    width: 350px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);

    padding: 16px 20px;

    color: rgba(19, 19, 24, 0.30);

    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.subscribe-btn {
    margin-top: 24px;
    width: 393px;
    height: 52px;
    border: none;
    border-radius: 8px;
    background: #FF5400;
    padding: 15px auto;

    color: #FFF;

    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.newsletter-img {
width: 100%;
}

.newsletter-img img {
    max-width: 500px;
    height: 400px;
    border-radius: 16px;
}

.newsletter-save70 {
    border-radius: 16px;
    background: #FF5400;
    padding: 16px;
    text-align: center;

    width: 300px;
    height: 75px;

    position: absolute;
    transform: scale(1) rotate(-19.628deg) translateX(205px)
    translateY(-100px);
}
/* footer styles  */
footer {
    height: 502px;
    margin: 100px 0px 0px;
    background: rgba(19, 19, 24, 0.05);
    padding: 110px;
    text-align: center;
}

.footer-title-container {
    align-items: center;
    display: inline-flex;
    gap: 1rem;
}

.footer-img {
    width: 40px;
    height: 46px;
}

.footer-title {
    color: #131318;
    font-size: 2rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
}

.footer-description {
    color: #5A5A5D;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

footer img {
    margin-top: 32px;
    width: 174.322px;
    height: 24px;
}

footer hr {
    /* width: 872px; */
    margin-top: 50px 280px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.footer-copyright {
    margin-top: 50px;
    color: #131318;
    font-family: 'Mulish', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}
}